/*
  #67DB62
  #72B2F2
  #915CDB
  #FF6B9F
*/

body,
html {
  margin: 0;
  font-family: Verdana;
}

#panel_up nav a {
  text-decoration: none;
  color: #67DB62;
  padding: 1%;
}

#panel_up nav a:hover {
  background-color: black;
}

header {
  background-color: #444;

}

#panel_up {
  background-color: #333;
  color: #67DB62;
  padding: 1%;
}

#panel_down {
  height: auto;
  text-align: center;
  color: white;
  background-image: url(./logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 20%;
  display: flex;
  flex-direction: column;
}

#panel_down nav {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-position: center;
}

.button:hover {
  background-color: green;
}

.button {
  background-color: #67DB62;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 1%;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
}


#teaser {
  display: flex;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  background-color: #666;
  margin-top: 5%;
  margin-bottom: 5%;
}

#content {}

#teaser section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

section {
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
}

#teaser section img {
  width: 60%;
  filter: invert(24%) sepia(0%) saturate(1329%) hue-rotate(142deg) brightness(92%) contrast(83%);
}

section img {
  float: left;
}

footer {
  background-color: #333;
  color: white;
  font-size: small;
  padding: 1%;
}

a {
  text-decoration: none;
  color: #67DB62;
}